[submodule "MP"]
	path = MP
	url = https://github.com/VaagenIM/files-MP
	branch = main
[submodule "IKT"]
	path = IKT
	url = https://github.com/VaagenIM/files-IKT
	branch = main
[submodule "ORG"]
	path = ORG
	url = https://github.com/VaagenIM/files-ORG
	branch = main
